.bodyGeneral{
  //  background-color: #a8b7bd;
    background-image: url(../img/final.png);
    background-position: center center;
    background-size: contain;
    background-repeat: repeat-y;
    width: 100%;
    background-attachment: scroll;
}

ul {
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
  }