.footerGeneral{
    display: flex;
    flex-direction: column;
    background-color: rgb(72, 98, 133);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.842);
}
.footerDerecha{
    margin: 1%;
}
.footerIzquierda{
    margin: 1%;
}
.copyFooter{
    font-size: 100%;
    text-align: center;
    margin: 1%;
}
.cajaFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.linkFooter{
    margin: 1% 2%;
    color: rgba(0, 0, 0, 0.719);
}