.headerGeneral{
    background-color: rgb(62, 93, 133);
    margin: 0%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.616);
    padding: 0%;
}
.fuenteHeader{
    color: white;
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    white-space: nowrap;
}
.lineaGris{
    background-color:  rgb(55, 54, 117);
    border-radius: 4px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.705);
    width: 15%;
    margin: 0.75% auto;
    
}
.imgHeader{
    width: 100%;
    height: auto;
    display: block;
    
}
.tituHeader{
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.705);
    background-color: rgb(62, 93, 133); 
    color: #fff;
    padding: 1rem 1.5rem;
    font-size: 250%; 
    border-radius: 4px;
    text-align: center;
    margin-top: 20%;
    align-self: center;
}
.subHeader{
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.705);
    background-color: rgb(88, 110, 139);
    color: #ffffffd0;
    padding: 1rem 2rem;
    font-size: 160%; 
    margin-top: 0%;
    margin-bottom: 20%;
    text-align: center;
    border-radius: 3px;
    align-self: center;

}
.contPortada{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(../img/fondonose.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
}

.azul{
    background-color: rgb(62, 93, 133);
    border: rgb(62, 93, 133) solid 1p;
}

@media (max-width: 1098px) {
    .lineaGris{
        width: 20%;
    }
    .fuenteHeader{
        font-size: 140%;
    }
}
@media (max-width: 848px) {
    .tituHeader{
       font-size: 200%;
       margin-top: 40%;
    }
    .subHeader{
        font-size: 120%;
        margin-bottom: 40%;
    }
    .lineaGris{
        width: 25%;
    }
    .fuenteHeader{
        font-size: 130%;
    }

}
@media (max-width: 642px) {
    .tituHeader{
       font-size: 160%;
       margin-top: 55%;
    }
    .subHeader{
        font-size: 100%;
        margin-bottom: 55%;
    }
    .lineaGris{
        width: 35%;
    }
    .fuenteHeader{
        font-size: 120%;
    }
}
@media (max-width: 468px) {
    .tituHeader{
       font-size: 120%;
       margin-top: 65%;
       padding: 3%;
    }
    .subHeader{
        font-size: 80%;
        padding: 3%;
        margin-bottom: 65%;
    }
    .lineaGris{
        width: 40%;
    }
    .fuenteHeader{
        font-size: 110%;
    }


}
.funciona{
    position: sticky;
    top: 0;
    z-index: 100;
}

//Aqui aranca el resto de las paginas


.tituHeader2{
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.705);
    background-color: rgb(51, 90, 141); 
    color: #fff;
    padding: 1rem 1.5rem;
    font-size: 250%; 
    border-radius: 4px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    align-self: center;
}
@media (max-width: 848px) {
    .tituHeader2{
       font-size: 200%;
       margin-top: 10%;
       margin-bottom: 10%;
    }
}
@media (max-width: 642px) {
    .tituHeader2{
       font-size: 160%;
       margin-top: 15%;
       margin-bottom: 15%;
    }
}
@media (max-width: 468px) {
    .tituHeader2{
       font-size: 120%;
       margin-top: 20%;
       margin-bottom: 20%;
       padding: 3%;
    }
}

.pegajoso{
    position: sticky;
    top: -106%;

}

.pegajoso2{
    position: sticky;
    top: -33%;
    transition: transform 0.5s ease;
}